<div style="font-size:13px;font-family:Lucida Grande,Verdana;">
    <p>
        {text key="notifications+email_html_head" userName=$userName}
    </p>
    <p>
        {text key="notifications+email_html_description"}
    </p>
    <div style="font-weight: bold">{$time|simple_date:$time:true}</div>
    <ul>
        <li style="padding: 3px; list-style-type: none; margin-left: 5px; list-style-position: outside; width: 490px;">
            <div style="display: inline-block; word-wrap: break-word; vertical-align: top; width: 400px;">
                <div>{$string}</div>
            </div>
        </li>
    </ul>
    <p>
        {text key="notifications+email_html_bottom"}
    </p>
</div>