{literal}
<style>
    .notification_switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }

    /* Hide default HTML checkbox */
    .notification_switch input {
        display:none;
    }

    /* The slider */
    .notification_slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #BDBDBD;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .notification_slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .notification_slider {
        background-color: #4CAF50;
    }

    input:focus + .notification_slider {
        box-shadow: 0 0 1px #4CAF50;
    }

    input:checked + .notification_slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .notification_slider.round {
        border-radius: 34px;
    }

    .notification_slider.round:before {
        border-radius: 50%;
    }

    /*range slider*/
    .range {
        position: relative;
        width: 200px;
        height: 5px;
        margin: 10px;
    }

    .range input {
        width: 100%;
        position: absolute;
        top: 2px;
        height: 0;
        -webkit-appearance: none;
    }
    .range input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 18px;
        height: 18px;
        margin: -8px 0 0;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
        border: 0 !important;
    }
    .range input::-moz-range-thumb {
        width: 18px;
        height: 18px;
        margin: -8px 0 0;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
        border: 0 !important;
    }
    .range input::-ms-thumb {
        width: 18px;
        height: 18px;
        margin: -8px 0 0;
        border-radius: 50%;
        background: #4CAF50;
        cursor: pointer;
        border: 0 !important;
    }
    .range input::-webkit-slider-runnable-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #b2b2b2;
    }
    .range input::-moz-range-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #b2b2b2;
    }
    .range input::-ms-track {
        width: 100%;
        height: 2px;
        cursor: pointer;
        background: #b2b2b2;
    }
    .range input:focus {
        background: none;
        outline: none;
    }
    .range input::-ms-track {
        width: 100%;
        cursor: pointer;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    .range-labels {
        margin: 18px -41px 0;
        padding: 0;
        list-style: none;
    }
    .range-labels li {
        position: relative;
        float: left;
        width: 90.25px;
        text-align: center;
        color: #b2b2b2;
        font-size: 14px;
        cursor: pointer;
    }
    .range-labels li::before {
        position: absolute;
        top: -25px;
        right: 0;
        left: 0;
        content: "";
        margin: 0 auto;
        width: 9px;
        height: 9px;
        background: #b2b2b2;
        border-radius: 50%;
        display: none;
    }
    .range-labels .active {
        color: #4CAF50;
        font-weight: bolder;
    }
    .range-labels .selected::before {
        background: #4CAF50;
    }
    .range-labels .active.selected::before {
        display: none;
    }

    .range-container-disabled{
        opacity: 0.5;
    }

</style>
{/literal}

<div class="ow_wide ow_automargin">
    <table class="ow_table_1 ow_form">
        {foreach from=$actions  key=pluginKey item=plugin name="plugins"}
        <tr class="ow_tr_first">
            <th class="ow_name ow_txtleft" colspan="4">
                <span class="ow_section_icon {$plugin.icon}">{$plugin.label}</span>
            </th>
        </tr>
        {foreach from=$plugin.actions item=action name="actions"}
        <tr class="{cycle name="install" values="ow_alt1,ow_alt2"} {if $smarty.foreach.actions.last}ow_tr_last{/if}">
            <!--<td class="ow_label">{$action.action}</td>-->
            <td>
                <label class="notification_switch">
                    <input type="checkbox" class="notification_checkbox" id="{$pluginKey}.{$action.action}" {if $action.registered} checked {/if}>
                    <div class="notification_slider round"></div>
                </label>
            </td>
            <td class="ow_value" {if !$action.registered} class="range-container-disabled" {/if}>{$action.description}</td>
            <td  {if !$action.registered} class="range-container-disabled" {/if}>
                <div id="range-{$pluginKey}-{$action.action}" class="range">
                    <input type="range" id="input-range-{$pluginKey}-{$action.action}" class="input-thumbs" min="1" max="3" steps="1" value="{$action.frequency}" {if !$action.registered} disabled {/if}>
                </div>

                <ul class="range-labels">
                    <li>{text key="spodnotification+frequency_immediately"}</li>
                    <li>{text key="spodnotification+frequency_every_day"}</li>
                    <li>{text key="spodnotification+frequency_every_month"}</li>
                </ul>

            </td>
        </tr>
        {/foreach}
        {if !$smarty.foreach.plugins.last}
        <tr class="ow_tr_delimiter"><td></td></tr>
        {/if}
        {/foreach}
        <tr>
            <td colspan="3" class="ow_center">
                <span>
                   <span class="ow_button">
                       <span class="">
                           <input type="submit" value="{text key='spodnotification+save_settings'}" id="spodnotification_save_settings" name="save">
                       </span>
                   </span>
                </span>
            </td>
        </tr>
    </table>
</div>