<div class="notification_container">

    <div class="notification_left">

        {foreach from=$actions  key=pluginKey item=plugin name="plugins"}
        <div class="notification_section">

            <div class="notification_plugin">
                {$plugin.label}
            </div>

            <div class="notification_settings">

                {foreach from=$plugin.actions item=action name="actions"}
                <div class="notification_setting_container">
                    <div class="notification_setting_panel">
                        <div class="notification_info_container">
                            <div class="notification_action_text">{$action.description}</div>
                            <div class="notification_stepper">
                                <div class="notification_step off" data-value="0"></div>
                                <div class="notification_step month" data-value="1"></div>
                                <div class="notification_step day selected" data-value="2"></div>
                                <div class="notification_step now" data-value="3"></div>
                            </div>
                            <div class="notification_right_arrow" {if !isset($action.subAction)}style="visibility:hidden"{/if}></div>
                    </div>
                </div>
                {if isset($action.subAction)}
                {foreach from=$action.subAction item=subAction name="subAction"}
                <div class="notification_setting_subaction_panel">
                    <div class="notification_info_subaction_container">
                        <div class="notification_action_text">{$subAction.description}</div>
                        <div class="notification_info_subaction_delete"></div>
                    </div>
                </div>
                {/foreach}
                {/if}
            </div>
            {/foreach}

        </div>

    </div>
    {/foreach}


</div> <!-- NOTIFICATION LEFT -->

<div class="notification_right"></div>

</div>